.container {
    padding: 30px 100px;

    .FormContainer {
        padding: 30px;

        input,
        textarea {
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 8px;
            font-size: 0.8rem;
        }
    }
}